{% extends "admin/default.html" %}
{% block content %}
{% load static %}
{% load site_tags %}
<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Income History
		</h1>
		<ol class="breadcrumb">
			<li><a href="{% url 'dashboard.index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Income History</li>
		</ol>
	</section>
	<section class="content">
			<div class="row">
			  <div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
				  <span class="info-box-icon bg-aqua">USD</span>
	  
				  <div class="info-box-content">
					<span class="info-box-text">Total Income</span>
					<span class="info-box-number">{{amountUSD}}<small></small></span>
				  </div>
				</div>
			  </div>
			  <div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
				  <span class="info-box-icon bg-red">AUD</span>
	  
				  <div class="info-box-content">
					<span class="info-box-text">Total Income</span>
					<span class="info-box-number">{{amountAUD}}</span>
				  </div>
				</div>
			  </div>
			  <div class="clearfix visible-sm-block"></div>
	  
			  <div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
				  <span class="info-box-icon bg-green">GBP</span>
	  
				  <div class="info-box-content">
					<span class="info-box-text">Total Income</span>
					<span class="info-box-number">{{amountGBP}}</span>
				  </div>
				</div>
			  </div>
			  <div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
				  <span class="info-box-icon bg-yellow">EUR</span>
	  
				  <div class="info-box-content">
					<span class="info-box-text">Total Income</span>
					<span class="info-box-number">{{amountEUR}}</span>
				  </div>
				</div>
			  </div>
			</div>
		 <form autocomplete="off" action="{% url 'incomehistory.listing' %}">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.model_name}}" name="model_name" class="form-control" placeholder="Model Name" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.start_date}}" name="start_date" class="form-control date-input" placeholder="Start Date" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.end_date}}" name="end_date" class="form-control date-input" placeholder="End Date" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">  
						<select  name="currency" class="form-control"  >
							<option value="">Currency</option>
							<option value="USD" {% if searchingVariables.currency == "USD" %}selected="selected"{% endif %}>USD</option>
							<option value="AUD" {% if searchingVariables.currency == "AUD" %}selected="selected"{% endif %}>AUD</option>
							<option value="GBR" {% if searchingVariables.currency == "GBR" %}selected="selected"{% endif %}>GBR</option>
							<option value="EUR" {% if searchingVariables.currency == "EUR" %}selected="selected"{% endif %}>EUR</option>
						 </select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
					<button class="btn btn-primary" style="margin:0;"><i class='fa fa-search '></i> Search</button>
					<a href="{% url 'incomehistory.listing' %}"  class="btn btn-primary" style="margin:0;"><i class='fa fa-refresh '></i> Reset</a>
					</div>
				</div>
			</div>
		</form> 
		<div class="box">
			<div class="box-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="15%">
								<a href="?page={{ page }}&order_by=model__model_name&direction={% if direction == 'ASC' and order_by == 'model__model_name' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Model Name</a>
							</th>
							<th width="15%">
								<a href="?page={{ page }}&order_by=created_at&direction={% if direction == 'ASC' and order_by == 'created_at' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Payout Date</a>
							</th>

							<th width="15%">
								<a href="?page={{ page }}&order_by=start_date&direction={% if direction == 'ASC' and order_by == 'start_date' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Start Date</a>
							</th>

							<th width="15%">
								<a href="?page={{ page }}&order_by=end_date&direction={% if direction == 'ASC' and order_by == 'end_date' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">End Date</a>
							</th>

							<th width="15%">
								<a href="?page={{ page }}&order_by=commission_amount&direction={% if direction == 'ASC' and order_by == 'commission_amount' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Commission Amount</a>
							</th>

							

							<!-- <th width="15%">
								<a href="?page={{ page }}&order_by=pay_slip&direction={% if direction == 'ASC' and order_by == 'pay_slip' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Pay Slip</a>
							</th> -->

							<!-- <th>
								Action
							</th> -->
						</tr>
					</thead>
					<tbody>
						{% if results %}
							{% for result in results %}
								<tr>
									<td>
										{{result.model.model_name|check_none_value}}
									</td>

									<td>
										{{result.created_at|check_none_value|date:dateFormat}}
									</td>

									<td>
										{{result.start_date|check_none_value|date:dateFormat}}
									</td>
									
									<td>
										{{result.end_date|check_none_value|date:dateFormat}}
									</td>
										
									<td>
										{{result.commission_amount |check_none_value}}{% if result.commission_amount %} {{result.model.default_currency|check_none_value}}{% else %}{{result.commission_amount |check_none_value}}{% endif %}
									</td>

								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="5" style="text-align:center">Record not found.</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			{% include "admin/paginations.html" %}
		</div>
	</section>
</div>

<script>
	$(document).ready(function(){
		$(document).on('click', '.status_change', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to change status?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$(document).on('click', '.delete_any_item', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to delete this ?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$('.date-input').datetimepicker({
			format:'YYYY-MM-DD',
		});
	});
</script>
{% endblock %}

