{% extends "admin/default.html" %}
{% block content %}
{% load static %}
{% load site_tags %}
<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Models
		</h1>
		<ol class="breadcrumb">
			<li><a href="{% url 'dashboard.index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Models</li>
		</ol>
	</section>
	<section class="content">
		<form autocomplete="off" action="{% url 'users.models' %}">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.model_name}}" name="model_name" class="form-control" placeholder="Model Name" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.first_name}}" name="first_name" class="form-control" placeholder="First Name" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.last_name}}" name="last_name" class="form-control" placeholder="Last Name" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.email}}" name="email" class="form-control" placeholder="Email" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.registered_from}}" name="registered_from" class="form-control date-input" placeholder="Registered From" />
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">
					<input type="text" value="{{searchingVariables.registered_to}}" name="registered_to" class="form-control date-input" placeholder="Registered To" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<div class="form-group">  
						<select  name="is_active" class="form-control"  >
							<option value="">All Models</option>
							<option value="1" {% if searchingVariables.is_active == "1" %}selected="selected"{% endif %}>Active</option>
							<option value="0" {% if searchingVariables.is_active == "0" %}selected="selected"{% endif %}>Deactive</option>
						 </select>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">  
						<select class="form-control selectOption" name="categories" multiple>
							{% if categoryList %}
								{% for category in categoryList %}
								<option value="{{category.id}}" {% if category.id in categories|replaceQuote %} selected="selected" {% endif %}>{{category.name}}</option>
								{% endfor %}
							{% endif %}
						</select>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="form-group">  
						<select  name="gender" class="form-control"  >
							<option value="">Gender</option>
							<option value="male" {% if searchingVariables.gender == "male" %}selected="selected"{% endif %}>Male</option>
							<option value="female" {% if searchingVariables.gender == "female" %}selected="selected"{% endif %}>Female</option>
						 </select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 ">
					<div class="form-group  pull-right">
					<button class="btn btn-primary" style="margin:0;"><i class='fa fa-search '></i> Search</button>
					<a href="{% url 'users.models' %}"  class="btn btn-primary" style="margin:0;"><i class='fa fa-refresh '></i> Reset</a>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-2 col-sm-2 pull-right">
					<div class="form-group  pull-right">
						<a href="{% url 'export_models_xls' %}" class="btn btn-success btn-small align status_change_export" style="margin:0;">Export to Excel</a>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 pull-right">
					<div class="form-group  pull-right">
						<a href="{% url 'users.add_model' %}" class="btn btn-success btn-small align" style="margin:0;">Add New Model</a>
					</div>
				</div>
			</div>	
		</form>
		<div class="box">
			<div class="box-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="9%">
								<a href="?page={{ page }}&order_by=model_name&direction={% if direction == 'ASC' and order_by == 'model_name' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Model Name</a>
							</th>
							<th width="9%">
								<a href="?page={{ page }}&order_by=first_name&direction={% if direction == 'ASC' and order_by == 'first_name' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">First Name</a>
							</th>

							<th width="9%">
								<a href="?page={{ page }}&order_by=last_name&direction={% if direction == 'ASC' and order_by == 'last_name' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Last Name</a>
							</th>
							<th width="9%">
								<a href="?page={{ page }}&order_by=gender&direction={% if direction == 'ASC' and order_by == 'gender' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Gender</a>
							</th>

							<th width="10%">
								<a href="?page={{ page }}&order_by=email&direction={% if direction == 'ASC' and order_by == 'email' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Email</a>
							</th>

							<th width="10%">
								<a href="?page={{ page }}&order_by=is_active&direction={% if direction == 'ASC' and order_by == 'is_active' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Status</a>
							</th>
							<th width="5%">
								<a href="?page={{ page }}&order_by=total_subscriber_signup&direction={% if direction == 'ASC' and order_by == 'total_subscriber_signup' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Total Subscribers</a>
							</th>

							<th width="15%">
								<a href="?page={{ page }}&order_by=created_at&direction={% if direction == 'ASC' and order_by == 'created_at' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Registered On</a>
							</th>
							<th width="30%">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% if results %}
							{% for result in results %}
								<tr>
									<td>
										{{result.model_name|check_none_value}}
									</td>
									<td>
										{{result.first_name|check_none_value}}
									</td>

									<td>
										{{result.last_name|check_none_value}}
									</td>
									<td>
										{% if result.gender == 'male' %} Male {% elif result.gender == 'female' %} Female {% endif %}
									</td>
									
									<td>
										{{result.email|check_none_value}}
									</td>

									<td>
										{% if result.is_approved == 1 %}
											{% if result.is_active == 1 %}
												<span class="label label-success" >Active</span>
											{% else %}
												<span class="label label-danger" >Deactive</span>
											{% endif %}
										{% elif result.is_approved == 2 %}
											<span class="label label-danger" >Rejected</span>
										{% else %}
											<span class="label label-danger" >Profile Approval Pending</span>
										{% endif %}
										{% if result.is_subscription_enabled == 1 %}
											<span class="label label-success" >Subscription Enabled</span>
										{% else %}
											<span class="label label-danger" >Subscription Disabled</span>
										{% endif %}
									</td>

									<td>
										{{result.total_subscriber_signup}}
									</td>

									<td>
										{{result.created_at|date:datetimeFormat}}
									</td>

									<td>
										<a  title="Edit" href="{% url 'users.edit_model' result.id %}" class="btn btn-success btn-small"><i class="fa fa-pencil"></i></a>
										
										<a href="{% url 'users.delete_model' result.id %}" class="btn btn-danger delete_any_item" title="Delete">
											<i class="fa fa-trash-o"></i>
										</a>
										<a href="{% url 'users.view_model' result.id %}" title="View" class="btn btn-info">
											<i class="fa fa-eye"></i>
										</a>
											
										{% if result.is_approved == 1 %}
											{% if result.is_active == 1 %}
												<a  title="Click To Deactivate" href="{% url 'users.change_status_model' result.id 0 %}" class="btn btn-danger btn-small status_change" ><i class="fa fa-ban"></i></a>
											{% else %}
												<a  title="Click To Active" href="{% url 'users.change_status_model' result.id  1 %}" class="btn btn-success btn-small status_change"><i class="fa fa-check"></i></a>
											{% endif %}
											{% if result.is_subscription_enabled == 1 %} 
												<a  title="Subscription Deactivate" href="{% url 'users.change_subscription_status_model' result.id 0 %}" class="btn btn-danger btn-small status_change" ><i class="fa fa-ban"></i></a>
											{% else %}
												<a  title="Subscription Activate" href="{% url 'users.change_subscription_status_model' result.id  1 %}" class="btn btn-success btn-small status_change"><i class="fa fa-check"></i></a>
											{% endif %}

											{% elif result.is_approved == 0 %}
											<a  title="Mark Approved" href="{% url 'users.changeApproveStatus' result.id 1 %}" class="btn btn-primary btn-small status_change" ><i class="fa fa-check"></i></a>

											<a  title="Mark Rejected" href="{% url 'users.changeApproveStatus' result.id 2 %}" class="btn btn-danger btn-small status_change" ><i class="fa fa-ban"></i></a>
										{% endif %}	
											{% if result.is_approved == 1 %}
												<a  class="btn btn-primary status_change_master" href="{% url 'users.master_login' result.id  %}" >Master Login</a>
											{% endif %}	
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												  Actions
												</button>

												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													{% if result.is_featured == 1 %}
													<li class="dropdown-item"><a href="{% url 'users.model_statusoff_featured_image' result.id  %}" >Mark Unfeatured</a></li>
												{% else %}
												<li class="dropdown-item"><a href="{% url 'users.model_featured_image' result.id  %}" >Mark Featured</a></li>
												{% endif %}
											
	
												<li class="dropdown-item"><a href="{% url 'users.view_subscriber_history' result.id %}" >View Subscriber History</a></li>
												<li class="dropdown-item"><a href="{% url 'users.transaction_history_in_model' result.id %}"  >View Transaction History</a></li>
												<li class="dropdown-item"><a href="{% url 'users.edit_model_account_details' result.id %}"  >Edit Account Details</a></li>
												<li class="dropdown-item"><a href="{% url 'users.edit_model_payment_details' result.id %}"  >Edit Payment Details</a></li>
												<li class="dropdown-item"><a href="{% url 'users.active_subscribers_details' result.id %}"  >Active Subscribers</a></li>
												<li class="dropdown-item"><a href="{% url 'users.expired_subscribers_details' result.id %}"  >Expired Subscribers</a></li>
												<li class="dropdown-item"><a href="{% url 'users.reported_subscribers_details' result.id %}"  >Reported Subscribers</a></li>
												</ul>
											</div>





											
										
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="6" style="text-align:center">Record not found.</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			{% include "admin/paginations.html" %}
		</div>
	</section>
</div>

<script>
	$(document).ready(function(){
		$(document).on('click', '.status_change', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to change status?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$(document).on('click', '.status_change_export', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to export to excel?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$(document).on('click', '.status_change_master', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to login with master admin?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$(document).on('click', '.delete_any_item', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to delete this ?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
		$('.date-input').datetimepicker({
			format:'YYYY-MM-DD',
		});
	});
	$('.selectOption').multiselect({ 
				numberDisplayed: 2,
				includeSelectAllOption: true,
				enableFiltering:true ,
				nonSelectedText: 'Select Category',
				enableCaseInsensitiveFiltering: true, 
			 });
</script>
{% endblock %}

