<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Full Screen</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            font-family: 'Red Hat Display', sans-serif;
        }

        html {
            width: 100%;
        }

        td {
            color: #000000;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        img {
            display: block !important;
        }

        table td {
            border-collapse: collapse;
        }
    </style>
</head>

<body marginwidth="0" marginheight="0"
    style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #f4f4f4;"
    offset="0" topmargin="0" leftmargin="0">


    <table border="0" bgcolor="#36373a" align="center" width="100%" cellspacing="0" cellpadding="0" style="max-width: 1034px; margin:80px auto; border: 1px solid #ededed;border-radius: 18px 18px 0 0; overflow: hidden;background-color: transparent; ">
        <tbody>
            <tr>
                <td topmargin="0" leftmargin="0" cellspacing="0" cellpadding="0" marginwidth="0" marginheight="0">
                    <table border="0" align="center" width="100%" cellspacing="0" cellpadding="0" class="">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table class="main" border="0" align="center" width="100%" cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="-moz-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px;"
                                                    bgcolor="#FFFFFF" align="center" valign="top">
                                                    <table class="two-left-inner" border="0" align="center" width="100%"
                                                        cellspacing="0" cellpadding="0" style="background: #121939;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" height="12"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <table border="0" align="center" width="100"
                                                                        cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" valign="top">
                                                                                    <a href="#"><img editable="true"
                                                                                            mc:edit="km-01"
                                                                                            src="{% static 'admin/img/tfh-logo.png' %}" alt="TFH"
                                                                                            style="max-width: 300px"></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" height="12"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" align="center" width="100%"
                        style="background-image: url('{% static "admin/img/emailbg.jpg"%}');background-size: cover;background-position: center; background-position: center; border-radius: 0 0 18px 18px">
                        <tbody>
                            <tr>
                                <td style="padding:40px 70px;">
                                    <table border="0" align="center" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-weight: bold;font-size:16px;line-height:20px;padding-bottom: 5px;">
                                                    {{body}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" align="center" width="210" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" width="35" valign="top" style="padding: 20px 0 5px 0;">
                                    <a href="jacascript:void(0);"><img editable="true" mc:edit="km-152"
                                            src="{% static 'admin/img/fb-icon.png' %}" alt="" width="70"></a>
                                </td>
                                <td align="left" width="35" valign="top" style="padding: 20px 0 5px 0;">
                                    <a href="jacascript:void(0);"><img editable="true" mc:edit="km-153"
                                            src="{% static 'admin/img/insta-icon.png' %}" alt="" width="70"></a>
                                </td>
                                <td align="left" width="35" valign="top" style="padding: 20px 0 5px 0;">
                                    <a href="jacascript:void(0);"><img editable="true" mc:edit="km-154"
                                            src="{% static 'admin/img/span-icon.png' %}" alt="" width="70"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" align="center" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight: 500;font-size:14px;line-height:20px;color: #5C5C5C;padding-bottom: 20px">
                                            Don't want to receive updates from TFH? 
                                        <a href="jacascript:void(0);" style="text-decoration: none; color:#467ce5;">Unsubscribe Here </a>
                                    </td>
                                </tr>
                                <tr>
                                        <td align="left" valign="top" style="font-weight: 500;font-size:12px;line-height:20px;font-style: italic">
                                                You are receiving this email because you have an account with TFH and have given us permission to send you newsletters.
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>