{% extends "admin/default.html" %}
{% block content %}
{% load static %}

<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Faq
		</h1>
		<ol class="breadcrumb">
			<li><a href="{% url 'dashboard.index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Faq</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<form autocomplete="off" action="{% url 'faq.index' %}">
				<div class="col-md-12 col-sm-12">
					<div class="col-md-2 col-sm-2">
						<div class="form-group">  
							<input type="text" value="{{searchingVariables.page_name}}" name="page_name" class="form-control" placeholder="Search by Page Name" />
						</div>
					</div>
					<div class="col-md-3 col-sm-2">
						<button class="btn btn-primary" style="margin:0;"><i class='fa fa-search '></i> Search</button>
						<a href="{% url 'faq.index' %}"  class="btn btn-primary" style="margin:0;"><i class='fa fa-refresh '></i> Reset</a>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="form-group  pull-right">  
							<a href="{% url 'faq.add'  %}" class="btn btn-success btn-small align" style="margin:0;">Add New Faq</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="box">
			<div class="box-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="10%">
								<a href="?page={{ page }}&order_by=pagename&direction={% if direction == 'ASC' and order_by == 'pagename' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Page Name</a>
							</th>
		
							<th width="30%">
								<a href="?page={{ page }}&order_by=question&direction={% if direction == 'ASC' and order_by == 'question' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Question</a>
							</th>
							
							<th width="30%">
								<a href="?page={{ page }}&order_by=answer&direction={% if direction == 'ASC' and order_by == 'answer' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Answer</a>
							</th>

							<th width="10%">
								<a href="?page={{ page }}&order_by=is_active&direction={% if direction == 'ASC' and order_by == 'is_active' %}DESC{% else %}ASC{% endif %}{% if querySring != '' %}&{{querySring}}{% endif %}">Status</a>
							</th>
			
							<th width="12%">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% if results %}
							{% for result in results %}
								<tr>
							
									<td>
										{% if result.pagename == "model_faq" %}
											Model Faq
										{% else %}
											{{result.pagename}}
										{% endif %}
										
									</td>
									<td>
										{{result.question|striptags|truncatechars:100|safe}}
									</td>
									
									<td>
										{{result.answer|striptags|truncatechars:100|safe}}
									</td>
	
									<td>
										{% if result.is_active == 1 %}
											<span class="label label-success" >Active</span>
										{% else %}
											<span class="label label-danger" >Deactive</span>
										{% endif %}
									</td>
									<td>
										{% if result.is_active == 1 %}
											<a  title="Click To Deactivate" href="{% url 'faq.status' result.id 0 %}" class="btn btn-danger btn-small status_change" ><span class="fa fa-ban"></span></a>
										{% else %}
											<a  title="Click To Active" href="{% url 'faq.status' result.id  1 %}" class="btn btn-primary btn-small status_change"><span class="fa fa-check"></span></a>
										{% endif %}

										<a href="{% url 'faq.edit' result.id  %}" class="btn btn-success" title="Edit"> 
											<span class="fa fa-pencil"></span>
										</a>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="7" style="text-align:center">Record not found.</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			{% include "admin/paginations.html" %}
		</div> 
	</section> 
</div>
<link rel="stylesheet" href="{%  static 'admin/css/jquery.fancybox.css' %}">
<script src="{%  static 'admin/js/jquery.fancybox.js' %}"></script>

<script>
	$(function(){
		$('.fancybox').fancybox();
		$('.fancybox-buttons').fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			prevEffect : 'none',
			nextEffect : 'none',
		});
	});
	$(document).on('click', '.status_change', function(e){
			e.stopImmediatePropagation();
			url = $(this).attr('href');
			bootbox.confirm("Are you sure want to change status?",
			function(result){
				if(result){
					window.location.replace(url);
				}
			});
			e.preventDefault();
		});
</script>
{% endblock %}
